.navbar {
  background-color: #00334c;
}
.navbar .navbar-brand {
  color: white;
}
#sidebardireita {
  width: 15%;
}
.nav.esquerda a:hover {
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  -moz-border-radius-bottomleft: 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background-color: #99adb7;
  color: white;
}
.logo img {
  width: 100px;
  heigth: 100px;
}
